body {
  background-color: black;
  color: white;
  border: 2px solid yellow;
  padding: 6px;
}
.header {
  background-image: url(file:///home/lilian/Documents/f6f57aa2-abstract-yellow-background.jpg);
  background-size: 1300px 500px;
  background-repeat: no-repeat;
  height: 400px;
  padding-left: 600px;
  padding-top: 120px;
  color: black;
  font-size: x-large;
}

